
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db_data:/var/lib/postgresql/data

  hedgedoc:
    image: quay.io/hedgedoc/hedgedoc:latest
    environment:
      CMD_DB_URL: postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      CMD_DOMAIN: ${CMD_DOMAIN}
      CMD_PROTOCOL_USESSL: ${CMD_PROTOCOL_USESSL}
      CMD_URL_ADDPORT: ${CMD_URL_ADDPORT}
      CMD_ALLOW_ANONYMOUS: "false"
      CMD_ALLOW_FREEURLS: "false"
      CMD_ALLOW_EMAIL_REGISTER: "false"
      CMD_AUTHENTICATION: "github"
      CMD_GITHUB_CLIENTID: ${CMD_GITHUB_CLIENTID}
      CMD_GITHUB_CLIENTSECRET: ${CMD_GITHUB_CLIENTSECRET}
    ports:
      - "127.0.0.1:6969:3000"
    volumes:
      - /root/scratchpad/project-blog/_posts:/hedgedoc/_posts

  publisher:
    build: ../project-blog/tools/publisher
    environment:
      HEDGEDOC_BASE: "http://hedgedoc:3000"
      GIT_REPO_DIR: "/blog"
    volumes:
      - /root/scratchpad/project-blog:/blog
    ports:
      - "127.0.0.1:8090:8090"
    depends_on:
      - hedgedoc

volumes:
  db_data:
